.feed-toggler {
  margin-bottom: 14px;
}

.placeholder-issue__p1 {
  max-width: 504px;
  height: 22px;
  background: linear-gradient(270deg, #FFFFFF -50%, rgba(255, 255, 255, 0) 100%), #EAEAEA;
  border-radius: 4px;
  margin-bottom: 10px;
}
.placeholder-issue__p2 {
  max-width: 298px;
  height: 22px;
  background: linear-gradient(270deg, #FFFFFF -50%, rgba(255, 255, 255, 0) 100%), #EAEAEA;
  border-radius: 4px;
  margin-bottom: 10px;
}
.placeholder-issue__p3 {
  max-width: 216px;
  height: 22px;
  background: linear-gradient(270deg, #FFFFFF -50%, rgba(255, 255, 255, 0) 100%), #EAEAEA;
  border-radius: 4px;
}