.c-slide {
  width: 375px;
  height: 667px;
  background: #FFFFFF;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transform: scale(0.8);
  transition: .5s;

  &.active {
    transform: scale(1);
    z-index: 3;
  }
}

.header {
  background: rgba(0, 0, 0, 0.0001);
}

.header__progress {
  padding: 8px 8px 0 8px;
  margin-bottom: 12px;
}

.header__nickname {
  padding: 0 0 12px 12px;
}

.content {
  overflow: auto;
  position: relative;
  min-height: 100px;
}

.content__loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #31AE54;
  width: 40px;
  height: 40px;
}

.content__info {
  padding: 18px;
}

.content__image {
  width: 294px;
  height: 204px;
  margin-left: 35px;
  margin-bottom: 24px;
}

.content__pic {
  display: block;
  width: 100%;
  height: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 52px 32px 52px;
}

.btn {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 36px;
  

  &.btn-next {
    left: 100%;
    transform: translateX(20px);
  }

  &.btn-prev {
    left: 0;
    transform: translateX(-100%) translateX(-20px) rotate(180deg);
  }
}
