.topline {
  margin-bottom: 32px;
}

.topline___header {
  display: flex;
  justify-content: space-between;
}


.icon {
  color: red;
  width: 50px;
}

.stories {
  display: flex;
  justify-content: space-between;
}

.posts {
  margin-bottom: 50px;
  
}

.posts-item {
  margin-bottom: 65px;
}

.post__content {
  padding-top: 40px;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.07);
  padding: 12px 20px 24px 20px;
  margin-bottom: 12px;
}
.post__title {
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 10px;
}
.post__description {
  font-weight: bold;
  font-size: 14px;
  line-height: 160%;
  margin-bottom: 28px;
}

.slide {
  display: flex;
  justify-content: center;
}
